@import '../../index.scss'; 

$backgroundImg: './space.png'; 

body {
    background-image: url($backgroundImg);
    background-size: cover;
    background-attachment: fixed;
}

header, main {
    @include centerColumn; 
    padding: 40px; 
}

.page-title {
    height: 60px; 
    width: 50%;
    padding: 30px; 
    text-align: center;
    background-color: $lightBlue; 
    border-radius: 10px;
    filter: drop-shadow(5px 5px 5px black);
}

h1 {
    font-size: 3em;
}

@media screen and (max-width: 1500px) {
    
 .page-title {
     width: 75%;
 }

}

@media screen and (max-width: 700px) {
    
    header {
        padding-bottom: 0; 
    }

    main {
        padding-top: 15px; 
    }

    .page-title {
        width: 90%;
        padding: 9px 30px;
        height: 30px;
    }

    h1 {
        font-size: 1.5em;
    }
}