@import '../../index.scss'; 

$backgroundImg: './space.png'; 

body {
    background-image: url($backgroundImg);
    background-size: cover;
    background-attachment: fixed;
}

header {
    @include centerColumn; 
    padding: 50px; 
}

.page-title {
    height: 60px; 
    width: 50%;
    padding: 1%; 
    text-align: center;
    background-color: $white; 
    border-radius: 10px;
    filter: drop-shadow(5px 5px 5px black);
}

h1 {
    font-size: 3em;
}